@model Classes.Company

<legend>Company</legend>
<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field" >
    @Html.TextBoxFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Address)
</div>
<div class="editor-field" >
    @Html.TextAreaFor(model => model.Address)
</div>

<div class="editor-label">
    <div style="float: left;" >
        @Html.CheckBoxFor(model => model.Hotline)
    </div>
    @Html.LabelFor(model => model.Hotline)
</div>
<div  hidden>
    @Html.TextBoxFor(model => model.RecId)
</div>
<br />

<label>Subscriber(s)</label>
<div id="Subscribers">
    @for (int i = 0; i < Model.subscribers.Count; i++)
    {
            <div class="sub-field">
                @Html.TextBoxFor(Model => Model.subscribers[i].name)
            </div>
            <div  class="sub-id" hidden>
                @Html.TextBoxFor(Model => Model.subscribers[i].recId)
            </div>
    }
</div>
<input type="button" class="new"
       value="New" onclick="newSub()" />
<input type="button" data-toggle="modal" data-target="#SubscriberSelector"
       value="Link" onclick="showSubs()" />
<br />

<label>Service(s)</label>
<div id="Services">
    <label>Service(s)</label>
    @for (int x = 0; x < Model.services.Count; x++)
    {
            <div class="editor-field">
                @Html.TextBoxFor(Model => Model.services[x].name)
            </div>
            <div hidden>
                @Html.TextBoxFor(Model => Model.services[x].recId)
            </div>
    }
</div>

<br />

<input type="button" class="save"
       value="Save" onclick="save()" />

<div  id="resultPlaceHolder"> 
</div>

